#/bin/bash

# ./analyze_workdir.sh, if present, gets executed after the game has finished

EMAIL="example@example.com"

TGT_DIR="$HOME/public_html/games/$4"

mkdir -p $TGT_DIR

ls -1 $1/*-final.sav.bz2 $1/*-quitidle.sav.bz2 |
    (while read FILE; do cp $FILE $TGT_DIR/ ; done )

(
  if test -f $1/core
  then
    echo "Core present"
  fi
  if test $(cat $1/stderr.log | wc -c) != "0"
  then
    echo "Non-empty stderr.log"
  fi
  echo
  echo "Listing of the workdir:" 
  ls "$1"
) | mail -s "Game $4/$3 finished" $EMAIL
